* {
    /*outline: red dashed 1px;*/
}

.picture-user {
    max-width: 50px;
}

.picture {
    max-width: 25px;
}

.text-truncate-span {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}