
* {
    /*outline: red dashed 1px;*/
}

article:hover {
    transform: scale(0.98);
    transition: transform 200ms ease-in-out;
}

#reset {
   display: none;
}

a img {
    object-fit: cover;
    object-position: top;
}

.img-nav {
    width: 20px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

datalist {
    overflow-y: auto !important;
}

#accountImage {
    border-radius: 50%;
    width: 35px;
}