* {
    /*outline: red dashed 1px;*/
}

.img-nav {
    width: 20px;
}

#accountImage {
    border-radius: 50%;
    width: 35px;
}

#back img {
    width: 20px;
}

.profile {
    width: 100%;
    max-height: 250px;
    max-width: 250px;
    object-fit: cover;
    object-position: top;
}