* {
    /*outline: red dashed 1px;*/
}

article:hover {
    transform: scale(0.98);
    transition: transform 200ms ease-in-out;
}

#profilePicture {
    object-fit: cover;
    object-position: top;
    height: 200px;
}